{% extends 'index.html' %}

<!-- title: Home -->
{% block title %}Home{% endblock %}
<!-- static -->
{% load static %}
<!-- body -->
{% block content %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
<link
  rel="stylesheet"
  href="{% static 'css/products/products-container.css' %}"
/>

<div class="banner-container">
  <div class="banner-content">
    <h1 class="welcome">Welcome</h1>
    <p class="text">
      This is a E-commercer site for showcasing Django project with javascript,
      css, html, motion, ets.
    </p>
    <button>Discover</button>
    <div class="circle"></div>
  </div>
  <div class="img-container">
    <img src="{% static 'images/watch.png' %}" alt="none" class="watch" />

  </div>
</div>

<h1 class="trending-heading">TOP TRENDING</h1>
<!-- top trending items -->
{% include 'products/top-trending.html' %}
<!-- products container -->
{% include 'products/home-products.html' %}
<!--  -->
{% endblock %}
