{% load static %}
<link
  rel="stylesheet"
  href="{% static 'css/products/products-container.css' %}"
/>
<div class="products-container">
  <h1 class="acce">ACCESSORIES</h1>
  <div class="row">
    <div class="box2">
      <h3 class="product-name">Black-Hat</h3>
      <button class="buy-btn">Buy</button>
      <h4 class="price">$21.99</h4>
      <div class="circle"></div>
      <img src="{% static 'images/hat.png' %}" alt="none" class="pro-img" />
    </div>
    <div class="box2">
      <h3 class="product-name">Classic Raybans</h3>
      <button class="buy-btn">Buy</button>
      <h4 class="price">$21.99</h4>
      <div class="circle"></div>
      <img
        src="{% static 'images/aviators2.png' %}"
        alt="none"
        class="pro-img"
      />
    </div>
    <div class="box2">
      <h3 class="product-name">Dark Sunglasses</h3>
      <button class="buy-btn">Buy</button>
      <h4 class="price">$21.99</h4>
      <div class="circle"></div>
      <img
        src="{% static 'images/sunglasses.png' %}"
        alt="none"
        class="pro-img"
      />
    </div>
  </div>
  <div class="row">
    <div class="box2">
      <h3 class="product-name">Aviators (Green)</h3>
      <button class="buy-btn">Buy</button>
      <h4 class="price">$21.99</h4>
      <div class="circle"></div>
      <img
        src="{% static 'images/aviators.png' %}"
        alt="none"
        class="pro-img"
      />
    </div>
    <div class="box2">
      <h3 class="product-name">Baseball Cap</h3>

      <button class="buy-btn">Buy</button>
      <h4 class="price">$21.99</h4>

      <div class="circle"></div>

      <img src="{% static 'images/cap.png' %}" alt="none" class="pro-img" />
    </div>
    <div class="box2">
      <h3 class="product-name">Hat</h3>

      <button class="buy-btn">Buy</button>
      <h4 class="price">$21.99</h4>

      <div class="circle"></div>

      <img src="{% static 'images/hat2.png' %}" alt="none" class="pro-img" />
    </div>
  </div>

  <a href="#" class="more">MORE</a>
</div>
