{% load static %}

<link rel="stylesheet" href="{% static 'css/footer.css' %}" />
<div class="footer-container">
  <div class="box">
    <div class='subscribe-input'>
    <input type="text" name='email' placeholder="enter your e-mail" id='input-email'/>
    <button  id='submit-email' type="submit">SUBSCRIBE</button></div>
    
  </div>
  <div class="box">
    <h1>SUPPORT</h1>
    <a href="#">Contact</a>
    <a href="#">FAQ</a>
    <a href="#">Downloads</a>
    <a href="#">About</a>
  </div>
  <div class="box">
    <h1>SHOP BY CATEGORY</h1>
    <a href="#">Nike</a>
    <a href="#">Addidas</a>
    <a href="#">Levi's</a>
    <a href="#">H&M</a>
    <a href="#">Benetton</a>
   </div>
    
  </div>
</div>
