<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    <title>{% block title %} {% endblock %}</title>
  </head>
  <body>
    <!-- navbar -->
    {% include './navbar.html' %}
    <div class="circle1"></div>
    <div class="circle2"></div>
    <!-- mid body content -->
    {% block content %} {% endblock %}
    <!-- footer -->
    {% include './footer.html' %}
  </body>
</html>
